.header {
  padding: 20px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.header > div {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.header > div > a > h1,
.header > div > a > h2 {
  font-weight: bold;
  text-transform: capitalize;
}

.header > div > a > h1 {
  font-size: 2rem;
}

.header > div > a > h2 {
  font-size: 1.5rem;
}

.cart-img {
  height: 3rem;
}
